<section class="row">
	<div class="col-md-12">

		<button class="btn btn-default" (click)="update()">Update</button>
		<button class="btn btn-default" (click)="clearFilter()">Clear Filter</button>
		<button class="btn btn-default" (click)="randomFilter()">Random Filter</button>
		<br/>

		<sentioTimeline
			style="height:100px;"
			[model]="model"
			resizeWidth="true"
			filterEnabled="true"
			[(filter)]="filter"
			(filterChange)="eventHandler('filterChanged', $event)">
		</sentioTimeline>

	</div>
</section>
