<section class="row">
	<div class="col-md-12">

		<button class="btn btn-default" (click)="update()">Update</button>
		<button class="btn btn-default" (click)="clearBrush()">Clear Brush</button>
		<button class="btn btn-default" (click)="randomBrush()">Random Brush</button>
		<br/>

		<sentioTimeline
			style="height:100px;"
			[sentioData]="data"
			[sentioSeries]="series"
			sentioResizeWidth="true"
			sentioBrushEnabled="true"
			[(sentioBrush)]="brush"
			(sentioBrushChange)="eventHandler('brushChanged', $event)">
		</sentioTimeline>

	</div>
</section>
