<section>
	<h2>Overview</h2>

	<section class="row">
		<div class="col-md-12">
			<a routerLink="/chart/donut"><h3>Donut Chart</h3></a>
			<basic-donut-chart-demo></basic-donut-chart-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<a routerLink="/chart/verticalBars"><h3>Bar Chart</h3></a>
			<basic-vertical-bar-chart-demo></basic-vertical-bar-chart-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<a routerLink="/chart/matrix"><h3>Matrix Chart</h3></a>
			<basic-matrix-chart-demo></basic-matrix-chart-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<a routerLink="/chart/timeline"><h3>Timeline</h3></a>
			<basic-timeline-line-demo></basic-timeline-line-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<a routerLink="/chart/realtimeTimeline"><h3>Realtime Timeline</h3></a>
			<basic-realtime-timeline-line-demo></basic-realtime-timeline-line-demo>
		</div>
	</section>

</section>
