<section *ngIf="show">

	<section class="row">
		<div class="col-md-12">
			<h2>Overview</h2>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Donut Chart</h3>
			<basic-donut-chart-demo></basic-donut-chart-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Bar Chart</h3>
			<basic-vertical-bar-chart-demo></basic-vertical-bar-chart-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Matrix Chart</h3>
			<basic-matrix-chart-demo></basic-matrix-chart-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Timeline</h3>
			<basic-timeline-line-demo></basic-timeline-line-demo>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Realtime Timeline</h3>
			<basic-realtime-timeline-line-demo></basic-realtime-timeline-line-demo>
		</div>
	</section>

</section>
